# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

.DS_Store
/lang/rust/*/*/target/
/lang/rust/*/*/target/
/lang/rust/*/rust-wasm/*/pkg/
/lang/rust/*/rust-wasm/*/bin/
/lang/rust/*/rust-wasm/*/wasm-pack.log
/lang/rust/*/rust-wasm/*/**/*.rs.bk
/lang/rust/*/rust-wasm/*/www/node_modules/
/lang/rust/*/rust-wasm/*/www/dist/
/teach-yourself-cs/computer-architecture/nand2tetris/tools
ok
__pycache__
.ok_storage
.ok_storage.db
.ok_history
.ok_guidance
elm-stuff
repl-temp-*
elm.js
bower_components
